@import url(https://fonts.googleapis.com/css?family=Poiret+One);

/* Reset CSS*/
*{ margin:0; padding:0;}
body{ font-family: 'Poiret One', cursive;
       width:100%; min-width:1400px; height:4000px;
       background:#ddd;}
ul,ol{ list-style: none;}
img{ border:0;}
a {outline:0; text-decoration:none; color:#555;}

/* 로고 */
h1{ position:fixed; top:20px; right:20px; z-index:5;}
h1 img{ box-shadow:5px 5px 3px #888;}

/* sns */
#sns { position:fixed; top:30px; left:60px;}
#sns li {float:left; margin-right:30px;}
#sns li i { font-size:25px; color:#fff; transition:all 0.5s;}
#sns li:hover i{ transform:scale(1.5); color:#888;}

/* 메뉴*/
#navi { position:fixed; top:50%; left:60px; margin-top:-200px;}
#navi li {float:left; font-size:16px; font-weight:bold;
           color:#fff; margin-right:25px; transition:all 0.5s; cursor:pointer; }
#navi li:hover { color:#888;}
#navi li.on { color:#888;}

/* 슬로건 */
.txt{ position: fixed; top:50%; right:20px; margin-top:-80px;
      font-size:100px; color:#fff; text-align:right; line-height:0.5;}
.txt span { color: #aaa;}
.txt em { font-family:arial; font-size:18px; font-style: normal;
           color: #888; letter-space:1px; }

/* 레이아웃 */
section { position:fixed; top:50%; left:0px; margin-top:-100px;
           width:4600px; height:500px;}
article { position:relative; top:50%; width:180px; height:400px;
           margin:10px; margin-top:-100px; box-sizing:border-box;
           float:left; backgroud:#fff; border-radius:5px;
           box-shadow:3px 3px 3px #bbb; overflow:hidden;
            transition:all 0.7s;}





















